.header-loggedin {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-loggedin {
    padding-top: 75px;
    padding-bottom: 70px;    
    margin-left: 0px;
}

.header-notloggedin {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-notloggedin {
    padding-top: 0px;
    padding-bottom: 0px;   
}
